################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CiMatchMeasurementPlugin/CopilotIndices/17.12.38.29086
/.vs/CiMatchMeasurementPlugin/FileContentIndex
/.vs
/obj
